{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Edit Department</h3>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Department Name</label>
                <input type="text" name="name" value="{{ department.name }}" class="form-control">
            </div>

            <div class="form-group">
                <label>Head of Department</label>
                <select name="department_head" class="form-control">
                    <option value="">Select Head of Department</option>
                    {% for teacher in teachers %}
                        <option value="{{ teacher.id }}"
                            {% if department.department_head and department.department_head.id == teacher.id %}
                                selected
                            {% endif %}
                        >
                            {{ teacher.first_name }} {{ teacher.last_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control">{{ department.description }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock %}